<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <li v-for="(item, index) in list" :key="item.name" :data-index='index'>
        <label>
            <input type="checkbox" :name="item.name" :value="item.name" v-model="gaga[item.name]">
            <span v-text="item.name"></span>
        </label>
    </li>
    {{check}}
</div>
<script src="/lib/vue/vue.js"></script>
<script src="/lib/vue/vue-resource.js"></script>
<script>
    Vue.use(VueResource);

    var app = new Vue({
        el: "#app",
        data: function () {
            return {
                data: {},
                gaga: {}
            }
        },
        computed: {
            list: function () {
                return this.data['categoryList'] ? (this.data['categoryList']) : ([])
            },
            check: function () {
                var ret = [];
                for (var i in this.gaga) {
                    if (this.gaga[i]) {
                        ret.push(i)
                    }
                }
                return ret;
            }
        },
        watch: {
            gaga: {
                handler: function (val, oldVal) { /* ... */
//                    console.log(val)
                },
                deep: true
            }
        },
        mounted: function () {
            this.$http.jsonp("http://192.168.178.166/api/mobile-category-service/rs/category/searchgamelistbytype",
                {
                    params: {
                        pageIndex: 1,
                        pageSize: 60,
                        isShowInHome: true,
                        gameType: 1,
                    },
                    jsonp: 'callback'
                }).then(function (res) {
                var data = JSON.parse(res.bodyText);
                if (data['categoryList']) {
                    var self = this;
                    data['categoryList'].forEach(function (v, i) {
                        Vue.set(self.gaga, v.name, false)
                    })
                }
                this.data = data;
            }, function () {
                console.log("请求失败");
            });
        }
    });

</script>

</body>
</html>