<!--Created by dong on 2016/12/4.-->
<!DOCTYPE html>
<html lang="zh-cmn-Hans" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="/jquery/jquery.min.js"></script>
    <script src="/angular/angular.min.js"></script>
    <title>$window窗口对象在表达式中的作用</title>
</head>
<body>
<h3 class="text-center">$window窗口对象在表达式中的作用</h3>
<div class="container" ng-controller="Ctrl">
    <div class="panel panel-info">
        <div class="panel-heading">angular通过 <code>$window</code>间接调用 <code>alert()</code>，不直接使用。</div>
        <div class="panel-body">
            <input class="form-control" type="text" title="example" ng-model="text">
            <br>
            <button class="btn btn-warning" type="button" ng-click="show(text)">点击调用alert</button>
        </div>
    </div>
</div>
<script>
    var app = angular.module('myApp', [])
            .controller('Ctrl', ["$window", "$scope", function($window, $scope) {
                $scope.text = "";
                $scope.show = function(data) {
                    $window.alert(data);
                }
            }]);
</script>
</body>
</html>