<!--Created by dong on 2016/12/4.-->
<!DOCTYPE html>
<html lang="zh-cmn-Hans" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="/jquery/jquery.min.js"></script>
    <script src="/angular/angular.min.js"></script>
    <title>添加参数的$scope方法</title>
</head>
<body>
<h3 class="text-center">添加参数的$scope方法</h3>
<div class="container" ng-controller="Ctrl">
    <div class="panel panel-default">
        <div class="panel-heading">不带参传</div>
        <div class="panel-body">
            <code> <samp ng-bind="text1"></samp></code>
            <br><br>
            <button class="btn btn-danger" type="button" ng-click="changeText1()">不传参，方法内部改变text值</button>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">带参传</div>
        <div class="panel-body">
            <code> <samp ng-bind="text2"></samp></code>
            <br> <br>
            <button class="btn btn-warning" type="button" ng-click="changeText2('gaga_change')">通过传入的参数改变text的值</button>
        </div>
    </div>
</div>
<script>
    var app = angular.module('myApp', [])
            .controller('Ctrl', ["$scope", function ($scope) {
                $scope.text1 = "gaga";
                $scope.text2 = "gaga";
                $scope.changeText1 = function () {
                    $scope.text1 = "gaga_change";
                };
                $scope.changeText2 = function (data) {
                    $scope.text2 = data;
                }
            }]);
</script>
</body>
</html>